<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:rim="http://www.blackberry.com/ns/widgets" 
	id="com.shaunamarelo.BB10BatteryMonitor" 
	version="1.0.0">
  
	<name>Battery Monitor</name>
 	<author href="http://shaunsapps.com/">Shaun Amarelo</author>
  	<description>
		An application to monitor the battery charging and draining rate of BB10 devices. 
	</description>
	<icon src="icon.png"/>
	<rim:permissions>
        <rim:permit>read_device_identifying_information</rim:permit>
	<rim:permit>run_when_backgrounded</rim:permit>
	</rim:permissions>
  	<content src="index.html"/>
	<feature id="blackberry.system"/>
        <feature id="blackberry.identity"/>
	<feature id="blackberry.app">
		<param name="childBrowser" value="disabled" />
	</feature>
</widget>
